h1= message
p Maru (まる, Japanese: circle or round) is a male Scottish Fold cat in Japan who has become well-known in the YouTube community for the videos of him playing in a childlike fashion, mostly lying around, jumping into small cardboard boxes and sliding across his owner’s wooden floor.
div#photos
    img(src='images/maru/box.jpg', alt='Into the box')
    img(src='images/maru/wrappage.jpg', alt='Inside wrappage')
    img(src='images/maru/package.jpg', alt='In the package')
    img(src='images/maru/little_box.jpg', alt='In the little box')
    img(src='images/maru/head.jpg', alt="Maru's head")
    img(src='images/maru/floor.jpg', alt='On the floor')
p Maru was born on May 24th, 2007. Five months afterwards Maru's photo blog titled "I am Maru" was launched by his anonymous owner. The official YouTube channel mugumogu was created almost a year later in July 2008, featuring Maru’s daily adventures in short video format.
p Throughout 2008, Maru's YouTube channel made its round across popular Internet culture blogs like "BoingBoing", "Neatorama" and "Urlesque". In the following year, Maru's videos were linked in numerous cat-related sites like "I Can Has Cheezburger", "CuteOverload" and "Ebaum's World".
p In August 2009, Entertainment Weekly listed the video channel in its "Notable Kitty Videos" article, alongside Keyboard Cat and Nora the Piano Cat.
p In 2008 and 2009, Maru won YouTube Japan's video awards in the Pet / Animal category for two consecutive years. In August 2010, Maru was voted the Internet's Favorite Feline in Urlesque's "Catfight" event, beating the Ceiling Cat in the final round.
p In March 2010, The Los Angeles Times' Unleashed Blog published an article titled "Your Morning Adorable YouTube Star: Maru the Cat"; In June 2010, a video clip of Maru was showcased during an episode of the Ellen Degeneres show; In July 2010, The New York Times mentioned Maru in an article about the popularity of cats and dogs in the media titled "On Films and TV, Cats and Dogs Playing Cute".
p Following the March 2011 earthquakes in Japan, it was reported via Maru's blog that the cat was safe and unharmed, though a carrying case was prepared in the event of an evacuation.
div#photos
    img(src='images/maru/black_box.jpg', alt='Into the black box')
    img(src='images/maru/face.jpg', alt="Maru's face")
    img(src='images/maru/couch.jpg', alt='On the couch')
    img(src='images/maru/maru.jpg', alt='Maru')
    img(src='images/maru/into_box.jpg', alt='Into the box')
p A book and DVD (containing both English and Japanese text) entitled "I am Maru" was released in Japan in September 2009. A further DVD Maru Desu followed in February the year after. A second book, もっと、まるです was released on August 31, 2011 (Japanese only). On December 21, 2012 a gallery application with Maru photos for Android was released.
p As of March 2012, mugumogu's channel reached over 145,000,000 total upload views and is ranked the 7th Most Subscribed channel and 11th Most viewed YouTube channel of all time in Japan.

ul.official_page
  li: a(href='http://sisinmaru.blog17.fc2.com/') Maru's photo blog: "I am Maru"
  li: a(href='http://www.youtube.com/user/mugumogu') YouTube: Official Channel
  li: a(href='http://lovemeow.com/2010/04/interview-with-maru-the-cat/') The cat blog LoveMeow: Interview with Maru the Cat
  li: a(href='http://maruthecat.tumblr.com/') Tumblr: Maru
  li: a(href='https://www.facebook.com/maruthecat') Facebook: Maru's fans page



