h1= message
p Simon's Cat is an animated cartoon cat by Simon Tofield. Simon is an English animator and illustrator who has a great interest in British wildlife, painting, the great outdoors and of course cats. Moover he is a director with the London-based Tandem Films animation studios. He made 27 Flash animated 'Simon's Cat' films for today, that have become a hit on Youtube. The first episode was created in 2008.
div#photos
    img(src='images/simons_cat/simon.jpg', alt='Simon')
p Simon's Cat is a charming, yet mischievous cat that lives with Simon. His antics, often in the quest for food, vex his owner. He loves cat food but also enjoys birds, mice, and fish out of Simon's koi pond.
div#photos
    img(src='images/simons_cat/bowl.jpg', alt='With bowl')
    img(src='images/simons_cat/bird.jpg', alt='With bird')
    img(src='images/simons_cat/hunger.jpg', alt='Hungry cat')
    img(src='images/simons_cat/club.jpg', alt='With club')
div#photos
    img(src='images/simons_cat/koi_pond.jpg', alt="Simon's koi pond")
p Simon's cat has not been officially named, though writer Simon Tofield says that Simon's cat is based on his own cat, Hugh.
div#photos
    img(src='images/simons_cat/hugh.jpg', alt="Simon's cat Hugh", title="Simon's cat Hugh")
ul.official_page
    li: a(href='http://www.simonscat.com/') Official website
    li: a(href='https://www.facebook.com/simonscat') Facebook: Simon's Cat
    li: a(href='https://twitter.com/simonscat') Twitter: Simon's Cat
    li: a(href='http://www.youtube.com/simonscat') YouTube: Main Channel
    li: a(href='http://www.youtube.com/simonscatextra') YouTube: Channel Extra

