h1= message
p Snoopy is an exotic shorthair cat based in Chengdu, Sichuan, China known for his short snout, round face and large brown eyes. He is a very chubby and huggable!
div#photos
    img(src='images/snoopy/snoopy_bread.jpg', alt='Round face')
p Snoopy was born on May 11, 2011. He has become an international internet sensation. Within 2 months after Snoopy’s photos emerged on the web, he had gained tens of thousands of followers. Fans created tumblr and instagram accounts for Snoopy, but the round face, big eyes kitty isn’t affected by the instant fame from the web. As usual, “he spends 17 hours a day sleeping, 2 hours a day playing, 1 hour a day grooming himself, 2 hours a day eating, and 2 hours a day thinking about cat things,” according to Snoopy’s fan page.
div#photos
    img(src='images/snoopy/snoopy_rabbit.jpg', alt='Snoppy is a rabbit')
    img(src='images/snoopy/snoopy_watermelon.jpg', alt='Snoopy in the red basin')
p Snoopy’s personality is just like Garfield from the cartoon according to his mom. His favorite pastimes are sleeping and eating. Today, Snoopy has millions of fans from all over the world who just can’t get enough of that adorable face. Snoopy might just be the real life Garfield.
div#photos
    img(src='images/snoopy/snoopy_sleeps.jpg', alt='Snoopy sleeps')
ul.official_page
    li: a(href='http://snoopy409.tumblr.com/') Tumblr: Snoopy the Exotic Shorthair
    li: a(href='http://instagram.com/snoopybabe') Instagram: snoopybabe
    li: a(href='http://www.youtube.com/user/evgenui96') YouTube: Snoopy Channel Rus
