h1= message
p Tardar Sauce is famous for her funny feline frown, but her owners say she's actually a very happy cat.
p The Internet knows her as “Grumpy Cat,” but Tardar Sauce — “Tard” for short — isn’t actually all that grumpy.
p Tard became an Internet sensation when her photo was posted on Reddit on September 22, 2012. Many users suspected that the feline’s frown had been photoshopped, so her owners shared some videos of her on YouTube to prove that Tardar’s face really does look a bit cranky.
p Tardar was born on April 4, 2012. She is a mixed breed; but she looks nothing like her mother or father. She looks to have some Persian, Ragdoll, Siamese or Snowshoe in her line. Her mother is a calico domestic short hair cat and her father is a gray-and-white tabby cat.
div#photos
    img(src='images/tard/callie.jpg', alt="Tard's mother", title='Callie the Grumpy Cats Mother')
    img(src='images/tard/tard_father.jpg', alt="Tard's father", title='Grumpy Cats Father')
p “Tardar has what looks kind of like an underbite,” owner Tabatha Bundesen of Morristown, Ariz., told Fox News. “She looked unique, as did her brother, at birth, with a flat face, bubble eyes, and a short tail.”
div#photos
    img(src='images/tard/pokey.jpg', alt="Pokey", title="Pokey the Tard's brother")
p Veterinarians say her size and shape could be genetic or neurological, but that the cranky kitty is perfectly healthy. Her petite size and famous face is likely due to feline dwarfism and her rear end wobbles a bit when she walks due to this; otherwise she is a perfect little kitty! She is not a munchkin cat and was not bred purposefully from other munchkin cats.
div#photos
    img(src='images/tard/tard_rest.jpg', alt='Tard rests on the couch')
p Although Bundesen usually gives away kittens, her 10-year-old daughter, Chrystal, fell in love with Grumpy Cat’s unique appearance and insisted they keep her. As a kitten, Tardar’s fur was speckled with dark spots, which reminded Chrystal of tartar sauce. She named the cat after the condiment — misspelling it in the process — and it stuck.
p “Tardar is not as coordinated as a normal cat, so she is likely a little angry about that. I think she likes to be held and petted sometimes, but being the pet of a 10-year-old could make anyone grumpy,” Bundesen said.
p Recently, Tardar decided to set the record straight about her disposition and released the video below in which she clarifies, "I'm not grumpy. I don't like when people call me grumpy. That's just how my face is shaped. I look like other cats, I think."
div#photos
    iframe(src='http://player.vimeo.com/video/54953791?color=01AAEA',frameborder="0", webkitAllowFullScreen mozallowfullscreen allowFullScreen)
ul.official_page
   li: a(href='http://www.grumpycats.com/') The Original Grumpy Cat – Home
   li: a(href='https://www.facebook.com/TheOfficialGrumpyCat') Facebook: The Official Grumpy Cat
   li: a(href='https://twitter.com/GrumpyCatTard') Twitter: Grumpy Cat Tard
   li: a(href='http://www.tumblr.com/tagged/grumpy-cat') Tumblr: #grumpy cat
   li: a(href='http://www.youtube.com/user/SevereAvoidance') YouTube: SevereAvoidance’s Channel