h1= message
p Venus is a feline chimera, a rare type of cats whose cells contain two types of DNA, that became internet famous in August 2012, mainly due to its striking appearance of one side being black-coloured with a green eye and the other side being orange-coloured with a blue eye.
div#photos
    img(src='images/venus/venus.jpg', alt='Venus')
p The cat quickly spread across Facebook the animal photo blogosphere, even leading to discussions regarding the authenticity of the photographs and extensive coverage from news media outlets and scientific explanations of chimera cats in the blogosphere.
p Online conspiracy theorists suspected Photoshop, or even someone spray-painting the cat, but an appearance by Venus and her owners, Christina and Chris, on TODAY Wednesday showed that it’s all real.
p “We’ve heard everything from Photoshop to we’ve dyed half of her face,” Christina, who did not want her last name used, told Savannah Guthrie. “This is just the way she was born, that’s it.”
p One side of the cat is black with a green eye, and the other is calico with a blue eye.
div#photos
    img(src='images/venus/venus_black.jpg', alt='Black face')
    img(src='images/venus/venus_red.jpg', alt='Red face')
p Christina, who lives in Florida, first heard about the cat from a friend who worked on a dairy farm in North Carolina. Venus was a feral stray living on the farm, and Christina’s friend snapped a few photos and put them on Facebook.
p “We have an orange tabby and a black tuxedo at home, so when I first saw her, I said, ‘Oh my gosh, she looks like a combination of both our cats,’“ - Christina said. “We didn’t at that time see the eyes, so Chris’s first reaction was, ‘We do not need any more animals.’ When we zoomed in on her eyes, we were just awestruck. I said, ‘We just have to have this cat.’“
div#photos
    img(src='images/venus/feral_venus.jpg', alt='Venus in feral stray band')
    img(src='images/venus/feral_venus2.jpg', alt='Venus kitten')
p Her friend asked the farmer for permission to have her, and he was happy to have the cat go to a good home. After a trip to the veterinarian to be checked out, Venus moved in with Christina and Chris in Florida.
p The online popularity of the cat was even mentioned by nature-related and scientific publications National Geographic and The Smithsonian, which explained the DNA composition of the two-faced cat through the words of Leslie Lyons, a professor who studies the genetics of cats at the University of California, Davis.
p “She is extremely, extremely rare, but you can explain it and you can understand it.” Many reports about Venus refer to the cat as a “chimera.” In mythology, a chimera is a mishmash monster made up of parts of different animals. A feline chimera is a cat whose cells contain two types of DNA, caused when two embryos fuse together.
p “Absolute luck,” One theory: perhaps the black coloration was randomly activated in all the cells on one side of her face, while the orange coloration was activated on the other, and the two patches met at the midline of her body as she developed."
div#photos
    img(src='images/venus/venus_face.jpg', alt="Venus's face")
ul.official_page
    li: a(href='https://www.facebook.com/VenusTheAmazingChimeraCat') Facebook: Venus's Page - Amazing Chimera cat
    li: a(href='http://www.youtube.com/venusmommy') YouTube: Venus Mommy’s Channel
